.btn-group button {
  border: 1px solid #bbb;
  color: black;
  cursor: pointer;
  float: left;
  border-radius: 0px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.btn-group button:not(:last-child) {
  border-right: none; /*Prevent double borders*/
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: '';
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #dcdcdc;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
