.location-finder {
  color: black;
}

.autocomplete-container {
  height: 48px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: white;
  margin: 32px 0px 32px 0px;
  overflow: hidden;
}

.my-location {
  height: 46px;
  border: none;
  border-right: 1px solid #bbb;
  border-radius: 0px;
  margin: 0px !important;
  font-size: 18px;
  line-height: 46px;
  padding: 0px 16px 0px 16px;
}

.autocomplete-input {
  width: 600px;
  height: 46px;
  line-height: 46px;
  border: none;
  margin: 0px;
  padding-left: 16px;
  outline: none !important;
}

.highlighted-label {
  background-color: white;
}
