#header {
  position: sticky;
  height: 56px;
  width: 100%;
  top: 0px;
  display: flex;
  background-color: white;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

.header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
  text-shadow: 2px 2px rgba(170, 170, 170, 0.66);
}

.profile-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 0px 16px 0px 0px;
  cursor: pointer;
}

.sign-in {
  margin: 0px 16px 0px 0px;
}
