#header {
  position: sticky;
  height: 56px;
  width: 100%;
  top: 0px;
  display: flex;
  background-color: white;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
  z-index: 5;
}

.profile-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 0px 16px 0px 0px;
  cursor: pointer;
}

.profile-pic.large {
  height: 80px;
  width: 80px;
  margin: 0px auto 0px auto;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

.user-email {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 32px;
}

.sign-in {
  margin: 0px 16px 0px 0px;
}

.sign-out {
  margin: 0px 0px 0px 0px;
}
